body {
    background-color: #d9d9d9; 
    margin: auto; 
    width: 80%;
    padding: 10px;
 }

.nav {
    background-color: #333;
    overflow: hidden;
    border-radius: 5px;
    margin: 10px auto;
}
.nav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: orange;
    color: black;
}

.para {
  background-color: #f2f2f2;
  overflow: hidden;
  border-radius: 5px;
  padding: 5px 25px;
  text-align: justify;
  margin-bottom: 10px
}

section {
  float: left;
  width: 69%;
}
aside {
  float: right;
  width: 30%;
}
footer {
  clear: both;
  margin-bottom: 0;
  color: white;
}

h4 {
  color: red;
}

#last{
  padding-left: 10px;
}

span{
  color: orange;
}

@media only screen and (max-width: 600px) {
  section, aside, img, a {
    width: 100%;
  }
}
